<template>
  <div class="home container">
    <div v-if="phone != null">
      <h1 class="mt-5 mb-0 title-page">All Phone</h1>
      <p class="mb-4">Total Phone : 
        <span class="color-active fw-bold">
          {{phone.length}}
        </span> 
      </p>
      <CardPhone :listPhone="phone"/>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import CardPhone from "@/components/CardPhone";

export default {
  name: 'AllPhone',
  data(){
    return{
      phone: null,
    }
  },

  components:{
    CardPhone
  },

  computed:mapGetters({
    complete: 'complete'
  }),

  mounted(){
    this.phone = this.complete
  }

}
</script>