<template>
  <div class="samsung container">
    <div v-if="iphone != null">
      <h1 class="mt-5 mb-0 title-page">iPhone</h1>
      <p class="mb-4">Total Phone : 
        <span class="color-active fw-bold">
          {{iphone.length}}
        </span> 
      </p>
        <CardPhone class="position-relative" :listPhone="iphone"/>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import CardPhone from "@/components/CardPhone";

export default {
    name: 'IphonePage',

    data(){
        return{
            iphone: null
        }
    },

    components:{
        CardPhone
    },

    computed:mapGetters({
        complete: 'complete'
    }),

    mounted(){
        this.filterPhone()
    },

    methods:{
        filterPhone(){
            const iphone = this.complete.filter(data =>{ 
                    return data.brand == 'Apple'
                })
            this.iphone = iphone
        }
    }
}
</script>