<template>
  <div>
    <h1 class="mt-5 mb-3 title-page">Json Showcase</h1>
    <pre>
        {{ toStringJson() }}
    </pre>
  </div>
</template>

<script>
export default {
  name: "JsonShowcase",
  data() {
    return {
      jsonData: {
        complete: null,
        summary: null,
        colors: null,
        unique: null,
      },
      jsonCase: {
        complete: [
          {
            id: 1,
            name: "iPhone 6",
            brand: "Apple",
            price: 190,
            color: "White",
          },

          {
            id: 2,
            name: "iPhone 6 Plus",
            brand: "Apple",
            price: 260,
            color: "Black",
          },

          {
            id: 3,
            name: "iPhone 6 Plus",
            brand: "Apple",
            price: 260,
            color: "White",
          },

          { id: 4, name: "iPhone 5", brand: "Apple", price: 200, color: "Red" },

          {
            id: 5,
            name: "Galaxy S5",
            brand: "Samsung",
            price: 210,
            color: "Orange",
          },

          {
            id: 6,
            name: "Galaxy S6",
            brand: "Samsung",
            price: 230,
            color: "Orange",
          },

          {
            id: 7,
            name: "Galaxy S6",
            brand: "Samsung",
            price: 250,
            color: "Red",
          },
        ],
      },
    };
  },

  mounted() {
    this.toComplate();
    this.toSummary();
    this.toColor();
    this.toUnique();
  },

  methods: {
    toComplate() {
      this.jsonData.complete = this.jsonCase.complete;
    },

    toSummary() {
      let data = {
        samsung: null,
        iphone: null,
      };

      data.iphone = this.jsonCase.complete.filter((item) => {
        return item.brand == "Apple";
      });

      data.samsung = this.jsonCase.complete.filter((item) => {
        return item.brand == "Samsung";
      });

      this.jsonData.summary = {
        Samsung: data.samsung.length,
        Apple: data.iphone.length,
      };
    },

    toColor() {
      let allColor = [];
      this.jsonCase.complete.forEach((item) => {
        allColor.push(item.color);
      });

      const color = new Set(allColor);
      this.jsonData.colors = [...color];
    },

    toUnique() {
      const filtered = this.jsonCase.complete.reduce((acc, current) => {
        const x = acc.find((item) => item.name === current.name);
        if (!x) {
          return acc.concat([current]);
        } else {
          return acc;
        }
      }, []);

      this.jsonData.unique = filtered;
      //   console.log(filtered);
    },

    toStringJson() {
      return JSON.stringify(this.jsonData, undefined, 4);
    },
  },
};
</script>

<style>
</style>