<template>
  <div class="samsung container">
    <div v-if="samsung != null">
      <h1 class="mt-5 mb-0 title-page">Samsung</h1>
      <p class="mb-4">Total Phone : 
        <span class="color-active fw-bold">
          {{samsung.length}}
        </span> 
      </p>
      <CardPhone :listPhone="samsung"/>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import CardPhone from "@/components/CardPhone";

export default {
    name: 'SamsungPage',

    data(){
        return{
            samsung: null
        }
    },

    components:{
        CardPhone
    },

    computed:mapGetters({
        complete: 'complete'
    }),

    mounted(){
        this.filterPhone()
    },

    methods:{
        filterPhone(){
            const samsungPhone = this.complete.filter(data =>{ 
                    return data.brand == 'Samsung'
                })
            this.samsung = samsungPhone
        }
    }
}
</script>