<template>
  <div class="row" v-if="listPhone != null">
    <div class="col-lg-4 col-md-6 col-sm-12" v-for="phone in listPhone" :key="phone.id">
        <div class="card mb-5 m-auto shadow-sm border-0 p-4 rounded-3">
        <img v-if="phone.brand == 'Apple'" :src="`${require('../assets/apple.svg')}`" :alt="phone.brand">
        <img v-else :src="`${require('../assets/samsung.svg')}`" :alt="phone.brand">
        <h4 class="phone-name mt-4 fw-bold">
            {{phone.name}}
        </h4>
        <dir class="d-flex ps-0 w-100">
            <p class="me-3">
              colors :
            </p>
            <div class="color-phone rounded-circle shadow-sm me-auto" :style="`background-color: ${colorPhone(phone.color)}`"></div>
            <p class="ms-auto mb-0 fw-bold"><span class="color-active fw-bold me-1 h4">$</span>{{phone.price}}</p>
        </dir>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    name: 'CardPhone',
    props:{
        listPhone:{
            type: Array
        }
    },

    methods:{
    colorPhone(data){
      return data.toLowerCase()
    }
  }
}
</script>

<style scoped>
.card{
  height: fit-content;
  background:  rgba(128, 128, 128, 0.027);
  transition: 300ms all;
  max-width: 260px;
}

.card:hover{
  transition: 300ms all;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2) !important;
}

.card img{
  opacity: 0.3;
}

.card h4{
  font-size: 18px;
  color:rgb(88, 88, 88);
}

.color-phone{
  width: 25px;
  height: 25px;
}
</style>