<template>
  <div id="app">
    <div id="nav" class="bg-dark position-sticky top-0">
      <router-link class="text-decoration-none px-3" to="/"
        >All Phone</router-link
      >
      <router-link class="text-decoration-none px-3" to="/samsung"
        >Samsung</router-link
      >
      <router-link class="text-decoration-none px-3" to="/iphone"
        >iPhone</router-link
      >
    </div>
    <router-view />
    <div class="bg-dark nav position-sticky bottom-0">
      <router-link class="text-decoration-none px-3" to="/json-showcase"
        >Json Showcase</router-link
      >
    </div>
  </div>
</template>

<style>
body::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.nav,
#nav {
  padding: 30px;
  z-index: 100;
}

.nav a,
#nav a {
  font-weight: bold;
  color: #2c3e50;
}

.nav a.router-link-exact-active,
#nav a.router-link-exact-active {
  color: #42b983;
}
.color-active {
  color: #42b983;
}
.title-page {
  font-weight: bolder !important;
}
</style>
